@font-face {
  font-family: 'MeineSchrift';
  src: url('fonts/Chelsea Market open.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #ffffff;
  color: #000000;
  font-family: 'MeineSchrift', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  animation: flicker 2s infinite;
}

/* Flacker-Animation */
@keyframes flicker {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.6; }
}